.header{
    position: fixed;
    z-index: +120;
}
.about{
    height: 22em;
    margin: 8em 32em 1em;
    padding: 1em 2em;
    background-color: rgba(255, 255, 255, 0.845);
    border-radius: .5em;
    z-index: +12;
}
h1{
    font-size: 5em;
    font-weight: 500;
}
span{
    color: rgb(227, 174, 13);
}
h4{
    font-size: 3em;
    font-weight: 200;
    margin-left: .3em;
    line-height: .8;
}
p{
    font-size: 1.3em;
    font-weight: 100;
    width: 95%;
    margin: .5em 1em;
}
img{
    height: 29em;
    width: 45%;
    margin: 4em 3em 0 4em;
    position: absolute;
    z-index: -99;
}
h2{
    margin: 1.5em 0 0 0;
    text-align: center;
    font-size: 3.5em;
}
.grey{
    height: 32em;
    width: 54em;
    background-color: rgba(0, 0, 0, 0.827);
    margin: 4em 0 0 25em;
    z-index: -200;
    position: absolute;
}
.aboutCard1,.aboutCard2,.aboutCard3,.aboutCard4{
    width: 14em;
    height: 17em;
    margin: 10em 3em 0;
    padding: .5em;
    border-radius: 1em;
}
.aboutCard1{
    background-color: rgba(0, 0, 0, 0.319);
}
.aboutCard2{
    background-color: rgba(0, 0, 0, 0.514);
}
.aboutCard3{
    background-color: rgba(0, 0, 0, 0.733);
}
.aboutCard4{
    background-color: rgba(0, 0, 0, 0.832);
}
h3{
    margin: .3em;
    font-size: 1.8em;
    color: white;
}
.aboutCard1>p,.aboutCard2>p,.aboutCard3>p,.aboutCard4>p{
    color: white;
    text-orientation: sideways;
    margin: 0.3em;
    font-size: 1.1em;
    font-weight: 200;
}
.team{
    width: 90%;
}