<div class="parent">
<app-header-entire class="header"></app-header-entire>
<div class="d-flex top">
<div class="about col-6">
  <h1>Comfort <span>Seat</span></h1>
  <h4>Company</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat a exercitationem eos itaque praesentium repellendus accusantium corrupti commodi eaque nulla. Est impedit sint possimus consequatur quae fugiat nostrum itaque debitis?</p>
</div>
<div class="grey"></div>
<img src="../../../assets/stylehome1.png" alt="">
</div>
<h2>Our Team</h2>
<div class="team d-flex">
   <div class="member"></div>
   <div class="member"></div>
   <div class="member"></div>
</div>
<app-footer></app-footer>
</div>