<app-header-entire class="header"></app-header-entire>
<div class="parent">
<div class="d-flex top">
<div class="about col-6">
  <h1>Comfort <span>Seat</span></h1>
  <h4>Company</h4>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat a exercitationem eos itaque praesentium repellendus accusantium corrupti commodi eaque nulla. Est impedit sint possimus consequatur quae fugiat nostrum itaque debitis?</p>
</div>
<div class="grey"></div>
<img src="../../../assets/stylehome1.png" alt="">
</div>
<div class="d-flex">
  <div class="aboutCard1 shadow-lg">
    <h3>01</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.sit amet consectetur. Blanditiis, quidem! Quia at sed error temporibus sunt alias.</p>
   </div>
    <div class="aboutCard2 shadow-lg">
      <h3>02</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.sit amet consectetur. Blanditiis, quidem! Quia at sed error temporibus sunt alias.</p>
     </div>
  <div class="aboutCard3 shadow-lg">
    <h3>03</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.sit amet consectetur. Blanditiis, quidem! Quia at sed error temporibus sunt alias.</p>
   </div>
 <div class="aboutCard4 shadow-lg">
  <h3>04</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.sit amet consectetur. Blanditiis, quidem! Quia at sed error temporibus sunt alias.</p>
 </div>
</div>
<h2>Our Team</h2>
<div class="team d-flex container">
  <app-team-card></app-team-card>
  <app-team-card></app-team-card>
  <app-team-card></app-team-card>
</div>
</div>
<app-footer></app-footer>