<div class="footer">
<div class="d-flex">
<div style="margin-top: 1.5em; margin-left: 6em;"><i class="fa-solid fa-phone" style="border:1px solid white; border-radius:50%; padding:.8em;"></i></div>
<div class="talk col-2"><span>Talk to us</span><br>15851</div>
<div style="margin-top: 1.5em;"><i class="fa-solid fa-circle-question" style="border:1px solid white; border-radius:50%; padding:.8em;"></i></div>
<div class="help col-3"><span>Help center</span><br>helpeg.comfortseat.com</div>
<div style="margin-top: 1.5em; margin-left: 1.5em;"><i class="fa-solid fa-envelope" style="border:1px solid white; border-radius:50%; padding:.8em;"></i></div>
<div class="support col-3" ><span>Write to us</span><br>support_egypt@comfortseat.com</div>
</div>
<div class="social">
    <i class="fa-brands fa-facebook-f col-1"></i>
    <i class="fa-brands fa-twitter col-1"></i>
    <i class="fa-brands fa-instagram col-1"></i>
</div>
</div>