<div id="container">
  <div class="d-flex">
    <form
      class="shadow"
      [formGroup]="loginForm"
      (ngSubmit)="this.loginService.settingValues(loginForm.value)"
    >
      <div class="form-group">
        <label for="UserName">User Name</label>
        <input
          type="text"
          formControlName="UserName"
          id="UserName"
          class="form-control shadow-sm"
          placeholder="Enter your user name"
          [class.is-invalid]="Name?.touched && Name?.invalid"
          [class.is-valid]="Name?.touched && Name?.valid"
        />
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input
          type="password"
          formControlName="Password"
          id="Password"
          class="form-control shadow-sm"
          placeholder="Enter your Password"
          [class.is-invalid]="Password?.touched && Password?.invalid"
          [class.is-valid]="Password?.touched && Password?.valid"
        />
      </div>
      <button type="submit" (click)="login($event)">Login</button>
    </form>
    <div>
      <div class="mainText">
        <div>Make Your Interior</div>
        <div style="margin-left: 0.15em">More Minimalistic</div>
      </div>
      <div class="smallText">Browse,Choose & Order Very Simple</div>
    </div>
  </div>
</div>
