.all{
    background-image: url("../../../assets/HomeHeader.jpg");
    height: 64em;
    margin-bottom: 3.5em;
}

.navbar{
    /* background-color: rgba(0, 0, 0, 0.85); */
    width: 2000px;
    color: hsl(0, 0%, 75%);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-link {
    color: hsl(0, 100%, 99%);
}
.navbar-nav{
    justify-content: space-between;
    width: 100%;
    padding: 6em;
}
.navRouting{
	font-weight: 400;
    font-size: 1em;
}
.mainText{
    font-size: 4em;
    font-weight:700;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
margin-left: 3.3em;
margin-top: 1.2em;
}
.searchbar{
    margin-top: 1.5em;
    height: 3.3em;
    background-color: #eaeaea74;
    border-radius: 30px;
    padding: 10px;
    margin-right: 2em;
    color: white;
    }
    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    line-height: 2em;
    font-size: 1em;
    }
    .searchbar > .search_input{
    padding: 0 1em;
    width: 13em;
    caret-color:white;
    }
    .search_icon{
    height: 2.2em;
    width: 2.2em;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    background-color: rgb(211, 142, 39);
    }

.dropdown-item:hover{
color:orange;
}