
  <div class="header">
        <div class="row">
        <nav class="navbar navbar-expand-lg d-flex"style="height: 4em;">
                <div class="collapse navbar-collapse  " id="navbarNavAltMarkup">
                  <div class="d-flex">
                    <div>
                      <i class='fas fa-couch'  style="font-size: 2.5em; margin-left: .7em; margin-top: .4em; color: rgb(211, 142, 39);"></i>
                    </div>
                    <div>
                      <div style="font-weight: 800; font-size: 2em; line-height: 1; margin-left: .7em; margin-top: .2em; color: white;"> Comfort </div>
              <div style="font-weight: 800; font-size: 1.2em; line-height: .8; margin-left: 1.2em; color: rgb(211, 142, 39);">Seat</div>
                              </div>
                  </div>
                    <div class="navbar-nav">
                      <div style=" display: flex; margin: auto;  justify-content: space-between; padding: 2em; width: 30%;">
                        <a class="nav-link  navRouting" routerLink="/home/home">Home</a>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle btn" style="color: hsl(0, 100%, 99%);" data-toggle="dropdown"  aria-expanded="false" >Rooms</a>
                          <div class="dropdown-menu" style="background-color:rgba(0, 0, 0, 0.85);">
                       <a class="nav-link  navRouting dropdown-item"  routerLink="/home/mattress">Cushions</a>
                       <a class="nav-link  navRouting dropdown-item"  routerLink="/home/livingroom">Living Room</a>
                       <a class="nav-link  navRouting dropdown-item"  routerLink="/home/dinning">Dinning</a>
                       <a class="nav-link  navRouting dropdown-item"  routerLink="/home/office">Office</a>
                          </div>
                        </li>
                        <a class="nav-link  navRouting"  routerLink="/home/aboutus" >About us</a>
                        <a class="nav-link  navRouting"  routerLink="/home/productscrud" >Products' CRUD</a>
                        <a class="nav-link  navRouting"  routerLink="/home/categoriescrud" >Categories' CRUD</a>
                      </div>
                      <div style="margin-left: 50em;" >
                        <i class="bi bi-search" style="font-size: 1.5em; margin-top: 1.7em; right: 5em; position:fixed; color: rgb(211, 142, 39);"></i>
                          <i class="bi bi-person" style="font-size: 2em; margin-top: 1.05em; right:2.3em; position:fixed; color:rgb(211, 142, 39);"></i>
                        <i class="bi bi-cart" style="font-size: 2em; margin-top: 1.1em; right:1em; position:fixed; color:rgb(211, 142, 39);"></i>
                      </div>
                      </div>
                </div>
        </nav>
        </div>