
        <nav class="header d-flex col-12">
                    <div class="col-3 d-flex">
                      <i class='fas fa-couch'></i>
                      <div>
                      <div class="comfort-text"> Comfort </div>
              <div class="seat-text">Seat</div>
            </div>
                    </div>
                      <div class="links d-flex col-6">
                        <a class="navRouting" routerLink="/home">Home</a>
                        <li class="nav-item dropdown">
                          <a class="dropdown-toggle btn" data-toggle="dropdown"  aria-expanded="false" >Rooms</a>
                          <div class="dropdown-menu">
                       <a class="navRouting dropdown-item"  routerLink="/home/mattress">Cushions</a>
                       <a class="navRouting dropdown-item"  routerLink="/home/livingroom">Living Room</a>
                       <a class="navRouting dropdown-item"  routerLink="/home/dinning">Dinning</a>
                       <a class="navRouting dropdown-item"  routerLink="/home/office">Office</a>
                          </div>
                        </li>
                        <a class=" navRouting"  routerLink="/home/aboutus" >About us</a>
                        <a class=" navRouting"  routerLink="/home/productscrud" >Products' CRUD</a>
                        <a class=" navRouting"  routerLink="/home/categoriescrud" >Categories' CRUD</a>
                      </div>
                      <div class="col-4 right-part d-flex">
                        <div class="col-7 d-flex right-icons">
                        <i class="bi bi-search mt-2"></i>
                          <i class="bi bi-person"></i>
                        <i class="bi bi-cart"></i>
                      </div>
                      <p class="welcome-message col-2 mt-3">Hello, Nour</p>
                      </div>
        </nav>