p{
    font-size: 4.3em;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1;
    margin-bottom: .3em;
}
h4{
    font-size: 1.3em;
    font-weight: lighter;
    font-weight: 340;
    margin-bottom: 1.5em;
}
.icon{
    font-size: 6em;
    color: rgb(217, 123, 24);
    margin-left: .2em;
    margin-bottom: .4em;
}
.btn{
    background-color: rgb(217, 123, 24);
    border-radius: 100px;
    margin-left: .5em;
    width: 12em;
    height: 2.7em;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 2;
    text-align: center;
    color: white;
}
.cube{
    height: 15em;
    width: 17em;
    background-color: #a4a09c15;
    margin: 1.5em 1.5em 0 0;
    padding: 2em 1em 3em 1em;
}
h5{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 1em;
}
h6{
    font-size: 1.25em;
    font-weight: lighter;
    font-weight: 340;
    margin-bottom: 1.5em;
}
