<div class="all d-flex col-12 m-auto">
    <div class="left col-6">
        <i class="fa-solid fa-chair icon"></i>
<p class="col-3">Interior design</p>
<h4 class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam facilis neque dolorem porro distinctio magnam cumque illum corporis delectus qui. Nesciunt laboriosam iusto modi nisi fuga tenetur voluptates quos molestiae?</h4>
<h5 class="btn">LEARN MORE</h5>    
</div>
    <div class="right col-6">
        <div class="top d-flex">
            <div class="cube">
                <h5>Livingroom Trends</h5>
                <h6>Sample text. Click to select the text box. Click again or double click to start editing the text.</h6>
            </div>
            <div class="cube">
                <h5>Officeroom Trends</h5>
                <h6>Sample text. Click to select the text box. Click again or double click to start editing the text.</h6>
            </div>
        </div>
        <div class="bottom d-flex">
            <div class="cube">
                <h5>Dinningroom Trends</h5>
                <h6>Sample text. Click to select the text box. Click again or double click to start editing the text.</h6>
            </div>
            <div class="cube">
                <h5>Cushion Trends</h5>
                <h6>Sample text. Click to select the text box. Click again or double click to start editing the text.</h6>
            </div>
        </div>
    </div>
</div>
