<div class="parent">
  <h1>Edit Category</h1>
  <form
    class="shadow bg-white d-flex"
    (ngSubmit)="
      Update(
        name.value
      )
    "
  >
      <div class="form-group">
        <label>Name</label>
        <input
          [value]="category.name"
          type="text"
          id="categoryName"
          class="form-control shadow-sm"
          placeholder="Name"
          #name
        />
        </div>
    <div>
      <button type="submit">Save changes</button>
    </div>
  </form>
</div>
