<app-header></app-header>
<div class="d-flex">
<div class="col-3 mainText">Why <br> Choosing Us</div>
<div class="col-3"><span>Luxury facilities</span>
<div class="sideText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum repellendus exercitationem.</div>
<div class="infoText">More info</div>
</div>
<div class="col-3"><span>Affordable price</span>
<div class="sideText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum repellendus exercitationem.</div>
<div class="infoText">More info</div>
</div>
<div class="col-3"><span>Many choices</span>
  <div class="sideText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum repellendus exercitationem.</div>
  <div class="infoText">More info</div>
</div>
</div>

<app-best-selling></app-best-selling>
<app-style-home></app-style-home>
<app-interior></app-interior>
<app-footer></app-footer>