<div id="container">
  <div class="d-flex">
    <form class="shadow">
      <div class="group">
      <label for="userName">User Name</label>
      <input type="text" id="userName" class="shadow-sm" placeholder="Enter your user name">
    </div>
    <div class="group">
    <label for="password">Password</label>
      <input type="password" id="password" class="shadow-sm" placeholder="Enter your password">
    </div>
    <button routerLink="/outer/home">Login</button>
    </form>
  <div>
<div class="mainText">
    <div> Make Your Interior</div><div style="margin-left:.15em">More Minimalistic</div>
  </div>
  <div class="smallText">
    Browse,Choose & Order Very Simple
  </div>
</div>
</div>
</div>