<app-header-entire class="header"></app-header-entire>
<div class="parent">
    <h1>Products</h1>
<div class="shadow bg-white">
    <button>Add New</button>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Description</th>
            <th scope="col">Category</th>
            <th scope="col">Image1</th>
            <th scope="col">Image2</th>
            <th scope="col">Image3</th>
            <th scope="col">Best</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td scope="col">ID</td>
            <td scope="col">Name</td>
            <td scope="col">Price</td>
            <td scope="col">Description</td>
            <td scope="col">Category</td>
            <td scope="col">Image1</td>
            <td scope="col">Image2</td>
            <td scope="col">Image3</td>
            <td scope="col">Best</td>
            <td scope="col"><i class="bi bi-pencil-square" style="color: darkgreen; font-size: 1.2em; line-height: 1;"></i></td>
            <td scope="col"><i class="bi bi-trash3-fill" style="color: brown; font-size: 1.2em; line-height: 1;"></i></td>
          </tr>
        </tbody>
      </table>
</div>
</div>
<app-footer></app-footer>
