<div class="parent" >
  <h1>New Product</h1>
  <form
  [formGroup]="productForm"
    class="shadow bg-white"
    >
    <div class="d-flex">
      <div class="form-group">
        <label>Name</label>
        <input
          type="text"
          id="name"
          class="form-control shadow-sm"
          name="name"        
          formControlName="name"
          placeholder="Name"
          [class.is-invalid]="name?.touched && name?.invalid"
          [class.is-valid]="name?.dirty && name?.valid"
          />
          <div class="error" [hidden]="name?.untouched || name?.valid">
            Name is required!
          </div>
      </div>

      <div class="form-group">
        <label>Price</label>
        <input
          type="number"
          class="form-control shadow-sm"
          name="price"
          placeholder="Price"
          formControlName="price"
          min="1"
          [class.is-invalid]="price?.touched && price?.invalid"
          [class.is-valid]="price?.dirty && price?.valid"
        />
        <div class="error" *ngIf="price?.touched && price?.invalid">
          {{price?.errors?.['required']? "Price is required!" : "Price should be more than 0"}}
        </div>
      </div>

      <div class="form-group">
        <label>Category</label>
        <select (change)="changeCat($event)" class="form-control shadow-sm" name="category" formControlName="category"
        [class.is-invalid]="category?.touched && category?.invalid"
        [class.is-valid]="category?.dirty && category?.valid"
        aria-placeholder="--Select a category--">
          <option value="">--Select a category--</option>
          <option
            [value]="category.id"
            *ngFor="let category of categories"
          >
            {{ category.name }}
          </option>
        </select>
        <div class="error" [hidden]="category?.untouched || category?.valid">
          Category is required!
        </div>
      </div>
    </div>

      <div class="d-flex">
        <div class="form-group">
          <label>Description</label>
          <textarea
            type="text"
            class="form-control shadow-sm"
            name="description"
            placeholder="Description"
          formControlName="description"
         ></textarea>
        </div>

        <div>
          <label>Best Selling</label>
          <select (change)="changeCat($event)" class="form-control shadow-sm" name="bestSelling" formControlName="bestSelling" aria-placeholder="--Select--">
            <option value="">--Select--</option>
            <option
              value="True"
            >
            True
            </option>
            <option
            value="False"
          >
          False
          </option>
          </select>
        </div>
      </div>

      <div class="d-flex">
      <div>
        <div>
        <label for="type">Image1</label>
      </div>
        <img src="" />
        <input
          type="file"
          style="width: 14em; background-color: rgba(128, 128, 128, 0.422);"
          (change)="OnSelect($event)"
name="image1"
formControlName="image1"
placeholder="Choose an image"
        />
      </div>
      <!-- <div>
        <div>
            <label for="type">Image2</label>
              </div>
            <img [src]="product.image2">
            <input type="file"
             style="width: 14em; background-color: rgba(128, 128, 128, 0.422);"
            (change)="OnSelect($event)" #image2>
        </div>
        <div>
          <div>
         <label for="type">Image3</label>
           </div>
          <img [src]="product.image3">
          <input 
          type="file"
          style="width: 14em; background-color: rgba(128, 128, 128, 0.422);"
           (change)="OnSelect($event)" #image3>
      </div> -->
    </div>
    <div>
      <button type="submit">Add</button>
    </div>
  </form>
</div>
{{productForm.value | json}}